@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h1>Starting a league? We've got you covered!</h1>

<p>League Score Keeper is a simple, free web application for tracking scores in a league setting.</p>

<p>Whether you are a coach of a college or high school team, a parent tracking your child's league or an adult starting an intramural league, League Score Keeper has everything you need to track teams, matches, wins, losses and players!</p>

<button class ="btn btn-primary btn-lg">Get Started Now!</button>
