@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">League Score Keeper is a free app for tracking matches and scores in a simple web application.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Create Account &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Register a username to get started. From there, you can save multiple leagues and track performance, and declare winners and losers.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Leagues Made Easy</h2>
        <p>Leagues can be made with the click of a button after you register your account. We make it easy and fast to get started.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hosted Online</h2>
        <p>Keep your league progress online to make sure you never lose a game. All wins, losses and matches are tracked via our web app.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>